* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
}
.category-text, .difficulty-text, .submit-button {
    background-color: #1db954;
    color: white;
}
.quiz-header button:hover {
    color: white;
    outline: 0;
}
.quiz-score h2 {
    text-align: center;
    line-height: 50px;
    background-color: #212121;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.text-white {
    color: white;
}
.no-display {
    display: none;
}
.confirm-display {
    display: inline-block;
}
.correct-answer-reveal {
    font-size: 1.2rem;
    font-style: italic;
    color: #1db954;
}
.redo-button {
    background-color:#121212;
    color: white;
    border: none;
    font-size: 40px;
    display: none;
}
@media only screen and (max-width: 1269px) {
    .main-container {
        width: 50%;
    }
}
@media only screen and (max-width: 969px) {
    .main-container {
        width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    .main-container {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .main-container {
        width: 70%;
    }
    .quiz-header h3 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .main-container {
        width: 80%;
    }
    .quiz-header h3 {
        font-size: 17px;
    }
}